{% extends "blog_app/base.html" %}



{% block contenido %}
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Esta es la vista de posteos</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5"><a href="{% url 'crear_posteos' %}" class="text-white font-weight-bold" style="text-decoration: none; font-size:40px">Crear nuevo posteo</a></p>
                <p class="text-white-75 mb-5"><a href="#buscar" class="text-white font-weight-bold" style="text-decoration: none; font-size:40px">Buscar posteo</a></p>
            </div>
        </div>
    </div>
</header>
<section class="page-section" id="buscar">
    <form class="align-items-center text-center" action="{% url 'buscar_posteos' %}" method="post">
        {% csrf_token %}
        <input type="text" name="titulo" placeholder="Ingrese el titulo">
        <input type="submit" value="Buscar">
    </form>
</section>
{% endblock contenido %}
